In [1]:
import pandas as pd
import redis
import csv
import numpy as np

In [5]:
df = pd.read_csv('data/updatedcleandata.csv')
df_json = df.to_json(orient='records')
df.head()

,state,state_po,county_str,office,special,candidate,party,writein,candidatevotes,won,MOV16,MOV18,16to18swing
0,Arizona,AZ,apache_az,US Senator,False,Angela Green,green,False,961.0,False,0.368776,0.338343,-0.030434
1,Arizona,AZ,apache_az,US Senator,False,Kyrsten Sinema,democrat,False,16298.0,True,0.368776,0.338343,-0.030434
2,Arizona,AZ,apache_az,US Senator,False,Martha McSally,republican,False,7810.0,False,0.368776,0.338343,-0.030434
3,Arizona,AZ,apache_az,US Senator,False,NaN,NaN,True,18.0,False,0.368776,0.338343,-0.030434
4,Arizona,AZ,cochise_az,US Senator,False,Angela Green,green,False,1212.0,False,-0.225856,-0.209577,0.016279

In [7]:
redis_host = 'localhost'
redis_port = 6379

r = redis.Redis(host=redis_host, port=redis_port,db=10)

In [8]:
r.flushdb()

True

In [9]:
df = df[df['writein']==False]

In [11]:
df.to_csv('updatedcleandata.csv',index=False)

In [12]:
r.set('cleandata', df_json)
#stored_df_json = r.get('my_dataframe')
#stored_df = pd.read_json(stored_df_json)

#print(stored_df)

True

In [13]:
with open('updatedcleandata.csv', newline='') as f:
    reader = csv.DictReader(f)
    for row in reader:
        key = f"{row['candidate']}:{row['county_str']}"
        r.hset(key, mapping=row)

In [14]:
r.hget('Angela Green:apache_az','16to18swing')

b'-0.0304338938971661'

In [15]:
#r.get('cleandata')

In [23]:
column_to_query = '16to18swing'
min_value = 0.3

# Scan all keys in Redis
cursor = 0
matched_keys = []

while True:
    # Perform scan operation
    cursor, keys = r.scan(cursor, match='*:*')

    # Iterate over the keys and check the column value
    for key in keys:
        # Get the column value for the key
        value = r.hget(key, column_to_query)

        # Check if the value is greater than the desired value
        if value and float(value) > min_value:
            matched_keys.append(key)
            
        #print(key)

    # Exit the loop if the scan is complete
    if cursor == 0:
        break

# Retrieve the values for the matched keys
matched_values = []
for key in matched_keys:
    # Retrieve all key-value pairs for the key
    values = r.hgetall(key)

    # Decode the byte strings to regular strings
    decoded_values = {k.decode('utf-8'): v.decode('utf-8') for k, v in values.items()}

    matched_values.append(decoded_values)

# Print the matched values
#for value in matched_values:
#    print(value)

# Close the Redis connection
r.close()

In [24]:
state_d = dict()
cand_d = dict()
county_d = dict()

for value in matched_values:
    if value['candidate'] in cand_d:
        cand_d[value['candidate']] = cand_d[value['candidate']] + 1
    else:
        cand_d[value['candidate']] = 1
        
    if value['state'] in state_d:
        state_d[value['state']] = state_d[value['state']] + 1
    else:
        state_d[value['state']] = 1
        
    if value['county_str'] in county_d:
        county_d[value['county_str']] = county_d[value['county_str']] + 1
    else:
        county_d[value['county_str']] = 1

In [25]:
sorted(state_d.values())

[3, 3, 4, 6, 22, 27, 114, 132, 153]

In [26]:
dict(sorted(state_d.items(), key=lambda item: item[1], reverse=True))

{'West Virginia': 153,
 'Minnesota': 132,
 'California': 114,
 'Montana': 27,
 'North Dakota': 22,
 'Ohio': 6,
 'Pennsylvania': 4,
 'Maine': 3,
 'New Mexico': 3}

In [21]:
df[(df['state_po']=='MN') & (df['16to18swing'] < 0)]

Empty DataFrame
Columns: [state, state_po, county_str, office, special, candidate, party, writein, candidatevotes, won, MOV16, MOV18, 16to18swing]
Index: []

In [29]:
df[df['state'] == 'West Virginia']['candidate'].unique()

array(['Joseph Manchin, III', 'Patrick Morrisey', 'Rusty Hollen'],
      dtype=object)