In [1]:
import pandas as pd
import numpy as np
import redis
import csv

In [2]:
df = pd.read_csv('data/updatedcleandata.csv')
df_json = df.to_json(orient='records')
df.head()

,state,state_po,county_str,office,special,candidate,party,writein,candidatevotes,won,MOV16,MOV18,16to18swing
0,Arizona,AZ,apache_az,US Senator,False,Angela Green,green,False,961.0,False,0.368776,0.338343,-0.030434
1,Arizona,AZ,apache_az,US Senator,False,Kyrsten Sinema,democrat,False,16298.0,True,0.368776,0.338343,-0.030434
2,Arizona,AZ,apache_az,US Senator,False,Martha McSally,republican,False,7810.0,False,0.368776,0.338343,-0.030434
3,Arizona,AZ,apache_az,US Senator,False,NaN,NaN,True,18.0,False,0.368776,0.338343,-0.030434
4,Arizona,AZ,cochise_az,US Senator,False,Angela Green,green,False,1212.0,False,-0.225856,-0.209577,0.016279

In [4]:
redis_host = 'localhost'
redis_port = 6379

r = redis.Redis(host=redis_host, port=redis_port,db=10)
r.flushdb()

True

In [5]:
with open('data/updatedcleandata.csv', newline='') as f:
    reader = csv.DictReader(f)
    for row in reader:
        key = f"{row['candidate']}:{row['county_str']}"
        r.hset(key, mapping=row)

### Getting all rows where the swing towards the Democratic party was at least 25%

In [11]:
column_to_query = '16to18swing'
min_value = 0.25

cursor = 0
matched_keys = []

while True:
    cursor, keys = r.scan(cursor, match='*:*')

    for key in keys:
        value = r.hget(key, column_to_query)

        if value and float(value) >= min_value:
            matched_keys.append(key)

    if cursor == 0:
        break

matched_values = []
for key in matched_keys:
    values = r.hgetall(key)

    decoded_values = {k.decode('utf-8'): v.decode('utf-8') for k, v in values.items()}

    matched_values.append(decoded_values)

### Compiling frequency of each state within the matched values into a sorted dictionary

In [16]:
state_d = dict()
cand_d = dict()
#county_d = dict()

for value in matched_values:
    if value['candidate'] in cand_d:
        cand_d[value['candidate']] = cand_d[value['candidate']] + 1
    else:
        cand_d[value['candidate']] = 1
        
    if value['state'] in state_d:
        state_d[value['state']] = state_d[value['state']] + 1
    else:
        state_d[value['state']] = 1
        
#     if value['county_str'] in county_d:
#         county_d[value['county_str']] = county_d[value['county_str']] + 1
#     else:
#         county_d[value['county_str']] = 1

In [17]:
dict(sorted(state_d.items(), key=lambda item: item[1], reverse=True))

{'Minnesota': 315,
 'West Virginia': 162,
 'California': 114,
 'North Dakota': 78,
 'Montana': 60,
 'Ohio': 33,
 'Missouri': 22,
 'Pennsylvania': 20,
 'New Mexico': 9,
 'Indiana': 8,
 'Maryland': 5,
 'New York': 3,
 'Maine': 3}

### Among the resulting states, we chose to further explore West Virginia and Montana. From the data, we also extracted the names of the candidates in ther respective races:

In [23]:
s = ['West Virginia', 'Montana']

candidate_dict = dict()

for value in matched_values:
    if (value['state'] in s) and (value['state'] in candidate_dict):
        candidate_dict[value['state']].append(value['candidate'])
    elif (value['state'] in s):
        candidate_dict[value['state']] = [value['candidate']]
        
for k in candidate_dict:
    candidate_dict[k] = set(candidate_dict[k])

In [25]:
candidate_dict

{'West Virginia': {'Joseph Manchin, III', 'Patrick Morrisey', 'Rusty Hollen'},
 'Montana': {'Jon Tester', 'Matt Rosendale', 'Rick Breckenridge'}}

### The above process is repeated to identify results that swung towards the Republican Party

In [26]:
column_to_query = '16to18swing'
min_value = -0.15

cursor = 0
matched_keys = []

while True:
    cursor, keys = r.scan(cursor, match='*:*')

    for key in keys:
        value = r.hget(key, column_to_query)

        if value and float(value) < min_value:
            matched_keys.append(key)

    if cursor == 0:
        break

matched_values = []
for key in matched_keys:
    values = r.hgetall(key)

    decoded_values = {k.decode('utf-8'): v.decode('utf-8') for k, v in values.items()}

    matched_values.append(decoded_values)

In [27]:
state_d = dict()

for value in matched_values:
    if value['state'] in state_d:
        state_d[value['state']] = state_d[value['state']] + 1
    else:
        state_d[value['state']] = 1

In [28]:
dict(sorted(state_d.items(), key=lambda item: item[1], reverse=True))

{'Utah': 30, 'Mississippi': 12, 'Missouri': 11, 'Texas': 9}

### We chose to explore Utah and its candidates.

In [29]:
s = ['Utah']

candidate_dict = dict()

for value in matched_values:
    if (value['state'] in s) and (value['state'] in candidate_dict):
        candidate_dict[value['state']].append(value['candidate'])
    elif (value['state'] in s):
        candidate_dict[value['state']] = [value['candidate']]
        
for k in candidate_dict:
    candidate_dict[k] = set(candidate_dict[k])

In [30]:
candidate_dict

{'Utah': {'',
  'Craig R. Bowden',
  'Jenny Wilson',
  'Mitt Romney',
  'Reed C. McCandless',
  'Tim Aalders'}}